In [13]:
import pandas as pd

In [14]:
df = pd.read_csv('iris.csv')

In [37]:
df.head(11)

    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
6            4.6          3.4           1.4          0.3  setosa
7            5.0          3.4           1.5          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa

In [27]:
df.shape

(150, 5)

In [28]:
df.loc[4] #target row index 4

sepal_length       5.0
sepal_width        3.6
petal_length       1.4
petal_width        0.2
species         setosa
Name: 4, dtype: object

In [29]:
df["sepal_length"][2] #target

df["sepal_length"][0] #target row

np.float64(5.1)

In [30]:
df.loc[7]

sepal_length       5.0
sepal_width        3.4
petal_length       1.5
petal_width        0.2
species         setosa
Name: 7, dtype: object

In [32]:
df.loc[8]

sepal_length       4.4
sepal_width        2.9
petal_length       1.4
petal_width        0.2
species         setosa
Name: 8, dtype: object

In [35]:
df['sepal_width'][10] #column then exact row #

np.float64(3.7)