In [80]:
import pandas as pd

In [81]:
df = pd.read_csv('iris.csv')

In [82]:
df.head(11)

    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
6            4.6          3.4           1.4          0.3  setosa
7            5.0          3.4           1.5          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa

In [83]:
df.shape

(150, 5)

In [84]:
df.loc[4] #target row index 4

sepal_length       5.0
sepal_width        3.6
petal_length       1.4
petal_width        0.2
species         setosa
Name: 4, dtype: object

In [85]:
df["sepal_length"][2] #target

df["sepal_length"][0] #target row

np.float64(5.1)

In [86]:
df.loc[7]

sepal_length       5.0
sepal_width        3.4
petal_length       1.5
petal_width        0.2
species         setosa
Name: 7, dtype: object

In [87]:
df.loc[8]

sepal_length       4.4
sepal_width        2.9
petal_length       1.4
petal_width        0.2
species         setosa
Name: 8, dtype: object

In [88]:
df['sepal_width'][10] #column then exact row #

np.float64(3.7)

In [89]:
df[['sepal_width','sepal_length']]

     sepal_width  sepal_length
0            3.5           5.1
1            3.0           4.9
2            3.2           4.7
3            3.1           4.6
4            3.6           5.0
..           ...           ...
145          3.0           6.7
146          2.5           6.3
147          3.0           6.5
148          3.4           6.2
149          3.0           5.9

[150 rows x 2 columns]

In [90]:
df.loc[0:4][['sepal_width','petal_width']] #must 2 bracket coz list is single thing

   sepal_width  petal_width
0          3.5          0.2
1          3.0          0.2
2          3.2          0.2
3          3.1          0.2
4          3.6          0.2

In [91]:
x = [[11,22,33],[44,55,66]]

In [92]:
df.iloc[1:5][2:6]#target specific column x row

   sepal_length  sepal_width  petal_length  petal_width species
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [93]:
iris=pd.read_csv('iris.csv',header = None, skiprows=1)
iris.shape #(row,column)

(150, 5)

In [94]:
# Best Practice in data science
columns = ['p_len','p_wid','s_len','s_wid','species']

iris = pd.read_csv('iris.csv', header = None, skiprows=1, names=columns)
iris.head(2)

   p_len  p_wid  s_len  s_wid species
0    5.1    3.5    1.4    0.2  setosa
1    4.9    3.0    1.4    0.2  setosa

In [95]:
#dont sort like this in iv 
nums = [20,80,130,50,5]
nums_sort = nums.sort()
nums
#if the nums is odd, length/2

[5, 20, 50, 80, 130]

### Explore how to sort a list manually

create a program, that takes a list, and returns a sorted list
- only allowed to google, when you have struggled for at least 1 hour
- use google, create a different program, based on the same - understand what is happening
- you are not allowed to use methods or libraries
- you can use numpy but not the methods like sort

In [ ]:
nums = [20,80,130,50,5]

while num <= nums.len():
    num[x]=nums[x]

In [61]:
nums = [20,80,130,50,5]
#if length is odd
median = nums[len(nums)//2] / 2
print('Median odd is: ',median)

nums = [20,80,130,50,5,20]
#if length is even
median = (nums[len(nums)//2] + nums[(len(nums)//2 -1)]) / 2
print('Median even is: ',median)
print(nums[len(nums)//2])


nums = [20,80,130,50,5]
mean = nums[len(nums)//2]
print('Mean is: ',mean)

Median odd is:  65.0
Median even is:  90.0
50
Mean is:  130

In [109]:
# aggregate adding all value then

iris = pd.read_csv('iris.csv')
print(iris)
df = iris[['petal_length','petal_width','sepal_length','sepal_width']]

print(df)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]
     petal_length  petal_width  sepal_length  sepal_width
0             1.4          0.2           5.1          3.5
1             1.4          0.2           4.9          3.0
2             1.3          0.2           4.7          3.2
3             1.5          0.2           4.6          3.1
4             1.4          0.2           5.0          3.6
..            ...          ...           ...          ...
145           5.2          2.3           6.7          3.0
146           5.0          1.9           6.3          2.5
147           5.2          2.0           6.5          3.0
148           5.4          2.3           6.2          3.4
149           5.1          1.8           5.9          3.0

[150 rows x 4 columns]

In [108]:
df.head(5)

   petal_length  petal_width  sepal_length  sepal_width
0           1.4          0.2           5.1          3.5
1           1.4          0.2           4.9          3.0
2           1.3          0.2           4.7          3.2
3           1.5          0.2           4.6          3.1
4           1.4          0.2           5.0          3.6

In [110]:

print('The mean is: \n',df.mean())
print('\nThe median is: \n',df.median())
print('\nThe mode is: \n',df.mode())

The mean is:
 petal_length    3.758667
petal_width     1.198667
sepal_length    5.843333
sepal_width     3.054000
dtype: float64

The median is:
 petal_length    4.35
petal_width     1.30
sepal_length    5.80
sepal_width     3.00
dtype: float64

The mode is:
    petal_length  petal_width  sepal_length  sepal_width
0           1.5          0.2           5.0          3.0